.hero {
    max-width: 900px;
    margin-top: 1rem auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.hero--img {
    max-width: 70%;
    align-self: center;
    border-radius: 1rem;
}

.hero--text {
    margin-top: 1.5rem;
    padding-left: 5rem;
    & h1 {
        font-size: 3rem;
    }
    & p {
        font-size: 1.25rem;
        max-width: 60%;
    }
}

.card--star {
    height: 14px;
}